{% extends 'base.html' %}

{% block main_content %}
  <main class="container mt-5">
    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
      <form action="{{ url_for('template_request') }}" class="card mb-5", method="POST">
        <div class="card-body text-center pt-5">
          <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
          <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
        </div>
        <hr>
        <div class="card-body mx-3">
          <div class="row">

              <div class="col">
                <p>{{ application_form.time_amount.label(class="form-check-label", value="asfasfa") }}</p>
                {{ application_form.time_amount(class="form-check-label", type="select") }}
              </div>

              <div class="col">
                <p>{{ application_form.goal.label(class="form-check-label", value="asfasfa") }}</p>
                {{ application_form.goal(class="form-check-label", type="select") }}
              </div>

          </div>
        </div>
        <hr>
        <div class="card-body mx-3">
          {{ application_form.name.label(class="mb-1 mt-2") }} {{ application_form.name(class="form-control", type="tel", id="clienName") }}
          {{ application_form.phone.label(class="mb-1 mt-2") }} {{ application_form.phone(class="form-control", type="tel", id="clientPhone") }}
          {{ application_form.submit(class="btn btn-primary btn-block mt-4", value="Request tutor search") }}
        </div>
      </form>
    </div>
  </main>

{% endblock %}